<h1>Country Data</h1>

<div class="center" style="text-align: center;">
    <ag-grid-angular
        style="width: 1500px; height: 500px;"
        class="ag-theme-alpine"
        [rowData]="rowData"
        [rowSelection]="rowSelection"
        (rowSelected)="onRowSelected($event)"
        [columnDefs]="columnDefs"
        [masterDetail]="false"
        [animateRows]="true"
        pagination="true"        
        paginationPageSize=25
        (gridReady)="onGridReady($event)"></ag-grid-angular>
</div>