<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <img width="50%" alt="Paymentsense Logo" src="../assets/paymentsense-logo.svg">
  <h1>
    {{ title }}
  </h1>
  <h2>... Paymentsense Coding Challenge API is <fa-icon [icon]=paymentsenseCodingChallengeApiActiveIcon
                                                        [styles]="{ 'stroke': paymentsenseCodingChallengeApiActiveIconColour, 'color': paymentsenseCodingChallengeApiActiveIconColour }"></fa-icon> ...</h2>

  
   <a [routerLink]="['/country-table']" [hidden]="isShowCountryDataVisible" (click)="toggleCountryTable()" class="glyphicon glyphicon-check">Show Country Table</a>
   
  <a [routerLink]="['']" [hidden]="!isShowCountryDataVisible" (click)="toggleCountryTable()" class="glyphicon glyphicon-check">Hide Country Table</a>
</div>

<div style="text-align:center;">
  <router-outlet></router-outlet>
</div>
